<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | Bliss Gateways' Travel Management System</title>
    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/index.css") }}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <div id="header-container"></div>
    
    <div class="main-image1"></div>

    <section class="explore-section">
        <div class="explore-frame">
            <h1>Explore the World</h1>
            <div class="inner-frame">
                <div class="explore-form">
                    <div class="input-group">
                        <label for="location" class="label-bold">Location</label>
                        <div class="input-with-icon">
                            <input type="text" id="location" placeholder="Select your destination" class="location-input">
                            <button class="search-button">
                                <img src="assets/icons/search.png" alt="Search Icon" class="search-icon">
                            </button>
                        </div>
                    </div>

                    <div class="vertical-separator"></div>

                    <div class="input-group">
                        <label for="date" class="label-bold">Date</label>
                        <div class="input-with-icon">
                            <input type="date" id="date" class="date-input" placeholder="MM/DD/YYYY">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="separator">

    <section class="travel-packages">
        <h2>Featured Packages</h2>
        <div class="packages">
            <div class="package">
                <img src='{{ url_for("static", filename="images/sokor.jpeg") }}' 
                alt="South Korea" class="package-image">
                <h3>South Korea</h3>
                <p class="price">₱21,499.00</p>
                <button class="see-more-button">See More</button>
            </div>
            <div class="package">
                <img src='{{ url_for("static", filename="images/japan.jpeg") }}'
                alt="Japan" class="package-image">
                <h3>Japan</h3>
                <p class="price">₱20,999.00</p>
                <button class="see-more-button">See More</button>
            </div>
            <div class="package">
                <img src='{{ url_for("static", filename="images/singapore.jpeg") }}'
                alt="Singapore" class="package-image">
                <h3>Singapore</h3>
                <p class="price">₱25,999.00</p>
                <button class="see-more-button">See More</button>
            </div>
            <div class="package">
                <img src='{{ url_for("static", filename="images/malaysia.jpeg") }}'
                alt="Malaysia" class="package-image">
                <h3>Malaysia</h3>
                <p class="price">₱24,539.00</p>
                <button class="see-more-button">See More</button>
            </div>
            <div class="package">
                <img src='{{ url_for("static", filename="images/hongkong.jpeg") }}'
                alt="Hongkong" class="package-image">
                <h3>Hongkong</h3>
                <p class="price">₱25,999.00</p>
                 <button class="see-more-button">See More</button>
            </div>
            <div class="package">
                <img src='{{ url_for("static", filename="images/macau.jpg") }}'
                alt="Macau" class="package-image">
                <h3>Macau</h3>
                <p class="price">₱23,899.00</p>
                <button class="see-more-button">See More</button>
            </div>
            <div class="package">
                <img src='{{ url_for("static", filename="images/indonesia.webp") }}'
                alt="Indonesia" class="package-image">
                <h3>Indonesia</h3>
                <p class="price">₱24,999.00</p>
                <button class="see-more-button">See More</button>
            </div>
            <div class="package">
                <img src='{{ url_for("static", filename="images/thailand.jpg") }}'
                alt="Thailand" class="package-image">
                <h3>Thailand</h3>
                <p class="price">$950</p>
                <button class="see-more-button">See More</button>
            </div>
        </div>
        <button class="see-all-button">See all</button>
    </section>

    <hr class="section-divider" />

    <section class="why-choose-us">
        <h2>WHY CHOOSE US?</h2>
        <p class="justified-text">Bliss Gateways is a registered travel agency in the Philippines. We offer online travel services to visitors looking for packages including all the necessary travel requirements, such as entry, accommodation, show money, and local tours at affordable prices. For inquiries, booking-related questions, or to know more please get in touch with our dedicated team.</p>
    </section>
    <div style="margin-bottom: 20px;"></div> 

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h3>Quick Links</h3>
        <a href="/">Home</a>
        <a href="/services">Services</a>
        <a href="/about">About Us</a>
      </div>
      <div class="footer-column">
        <h3>Business Hours</h3>
        <p>Monday - Saturday</p>
        <p>8:00 AM to 5:00 PM</p>
      </div>
      <div class="footer-column">
        <h3>Contact Us</h3>
        <p>0912 988 7893</p>
        <p>blissgatewaysph@gmail.com</p>
        <p>San Nicolas, Baao, Camarines Sur</p>
        <p>4432 Philippines</p>
      </div>
      <div class="footer-column">
        <h3>Connect With Us</h3>
        <a href="https://www.facebook.com/blissgatewaysph">facebook.com/blissgatewaysph</a>
        <a href="https://www.instagram.com/blissgateways_ph">instagram.com/blissgateways_ph</a>
        <a href="https://www.tiktok.com/@blissgateways">tiktok.com/@blissgateways_ph</a>
      </div>
    </div>

    <hr class="footer-separator" />

    <div class="footer-bottom">
      <p>© Bliss Gateways Travel and Tours 2025</p>
      <p>Developed by Systematic Thinkers</p>
    </div>
  </footer>

    <script src='{{ url_for("static", filename="js/index.js") }}'>
    </script>
    <script src='{{ url_for("static", filename="js/script.js") }}'>
    </script>
    <script src='{{ url_for("static", filename="js/header_load.js") }}' defer>
    </script>

</body>
</html>