body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.admin-dashboard {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    width: 100%;
    align-items: stretch;
    padding: 0; 
    min-height: 750px;
}

.dashboard-main {
    flex: 1; 
    padding: 20px;
}

.title {
    margin: 20px 0;
    font-size: 24px;
    margin-left: 100px;
}

.filter-container {
    margin-bottom: 20px;
    margin-left: 100px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #d6f3ff;
    border: 1px solid #d3d3d3;
    padding: 12px;
    justify-content: center;
}

.filter-container label {
    font-size: 13px;
}

.filter-container select,
.filter-container input[type="date"] {
    padding: 3px 18px;
    border: 1px solid #d3d3d3;
    font-size: 13px;
    margin-left: 10px;
    background-color: #f4f7fc;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

#apply-filters {
    padding: 6px 20px;
    border: none;
    border-radius: 25px;
    background-color: #008ec4;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#apply-filters:hover {
    background-color: #006fa1;
    transform: translateY(-2px);
}

.payment-section {
    flex: 1;
    background-color: #fff;
    padding: 30px;
}

.table-container {
    max-height: 500px;
    height: 500px;
    overflow-y: auto;
    margin-left: 70px;
    width: 1135px;
}

#payments-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#payments-table th,
#payments-table td {
    padding: 12px;
    font-size: 13px;
    border: 1px solid #d3d3d3;
}

#payments-table tbody tr {
    background-color: #f4f7fc;
}

.empty-message {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #757575;
}

footer.footer {
    flex-shrink: 0;
    padding: 20px;
    width: 100%;
    margin-top: auto;
}
